<div class="well well-sm">
  <u><h4>Thanks for signing up!</h4></u>
  <h4>Who to follow</h4>
  <% Constants::RECOMMENDED_USERS.each do |recommend_user| %>
    <%= image_tag(recommend_user[:image_url]) %>
    <%= "#{recommend_user[:name]}" %>
    <%= "@#{recommend_user[:screen_name]}" %>
    <% if following?(recommend_user) %>
      <%= button_to "Following", {action: "unfollow", params: {screen_name: recommend_user[:screen_name]}}, class: 'btn btn-primary' %>
    <% else %>
      <%= button_to "Follow", {action: "follow", params: {screen_name: recommend_user[:screen_name]}}, class: 'btn btn-default' %>
    <% end %>
    <br>
  <% end %>
</div>