<div class="col-md-9 ">
    <% @tweets.each do |tweet| %>
      <div class="post-panel well well-sm">
        <div class="tweet-image">
          <%= link_to image_tag("#{tweet.user.profile_image_url_https}"), "https://twitter.com/#{tweet.user.screen_name}", :target=>["_blank"] %>
        </div>
        <div class="post">
          <%= tweet.user.name %> @<%= tweet.user.screen_name %><br>
          <%= tweet.text %><br>
          <div class="post-image">
            <% if tweet.media? %>
              <% tweet.media.each do |media| %>
                <%= image_tag("#{media.media_url_https}:thumb") %>
              <% end %>
            <% end %>
          </div>
          RT <%= tweet.retweet_count %> Like <%= tweet.favorite_count %><br>
          <%= link_to tweet.created_at, "https://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}", :target=>["_blank"] %><br>
        </div>
      </div>
    <% end %>
  </div>