<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "twtr client", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Likes", likes_path %></li>
          <li><%= link_to "Logout", logout_path %>
        <% else %>
          <li><%= link_to "Login", '/auth/twitter' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>